{% extends "../base.html" %}


{% block title %} Marcus Codex - {{user.username}} Profile{% endblock %}

{% block body %}
<h1> {{ user.username}} Profile</h1>
<img src="{{ subscriber.profile_pic.url }}" alt="Profile Picture">
<br>
<button><a href="{% url 'update_profile_pic' %}">Update Profile Picture</a></button>


<form method="post" action="{% url 'profile' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Subscription</button>
</form>
<p> Subscription Status: {{ subscriber_status }}</p>
{% endblock %}

