<!-- Create a basic HTML5 Boilerplate -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Meta -->        
    </head>
    <header>
        {% include "partials/_header.html" %}
        {% block jsheader %} {% endblock %}        
    </header>
    <body>
        {% block body %} {% endblock %}
        <content>
            {% block content %} {% endblock %}
        </content>
        {% block jsbody %}{% endblock %}
    </body>
    <footer>
        {% block jsfooter %}{% endblock %}
    </footer>
</html>
